<div class="o-container">
  <div *ngIf="card" class="card-details">
    <img [src]="card.image_uris.normal" alt="Card Image" />
  </div>
  
  <mat-card class="card-info">
    <mat-card-content>
      <p>
        {{ card.name }}
        <ng-container *ngFor="let symbol of getManaCostSymbols(card.mana_cost)">
          <abbr [title]="symbol.description">
            <img [src]="symbol.url" alt="Mana symbol" class="mana-symbol" />
          </abbr>
        </ng-container>
      </p>
  
      <p>Type: {{ card.type_line }}</p>
      <ng-container *ngFor="let line of getLines()">
        <p class="card-text-oracle">{{ line }}</p>
      </ng-container>
  
      <p *ngIf="card.power || card.toughness">
        {{ card.power }}/{{ card.toughness }}
      </p>
      <p *ngIf="card.loyalty">
        Loyalty: {{card.loyalty}}
      </p>
      <div class="legalities">
        <h3>Legalities:</h3>
        <div class="legalities-container">
          <div
            *ngFor="let legality of card.legalities | keyvalue"
            class="legality-item"
          >
            <div
              class="badge"
              [ngClass]="{
                'badge-legal': legality.value == 'legal',
                'badge-not-legal': legality.value != 'legal'
              }"
            >
              {{ legality.value }}
            </div>
            <div class="legality-key">{{ legality.key }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<div *ngIf="!card" class="loading">
  <mat-spinner diameter="30"></mat-spinner>
  <p>Loading card details...</p>
</div>
