<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class=" card m-4 p-4">
        <p class="mt-3 user"><h1>Autenticacion.</h1>
        <mat-form-field appearance="outline" class="mt-3">
          <input
            matInput
            [(ngModel)]="name"
            required
            placeholder="Usuario"
            aria-label="Usuario"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mt-3">
          <input
            matInput
            [(ngModel)]="password"
            type="password"
            required
            placeholder="Contraseña"
            aria-label="Contraseña"
          />
        </mat-form-field>
        <div class="d-grid gap-2 mt-3">
          <button mat-raised-button color="primary" (click)="login()">
            Identificarse
          </button>
        </div>
        <div class="d-grid gap-2 mt-3">
          <p><strong>Usuario:</strong>ADMIN</p>
          <p><strong>Contraseña:</strong>1234</p>
          <p>El servidor de la api esta en azure  appService gratuito y se pone en modo suspension por inactividad, la primera conexion del dia puede tardar hasta que se levante el servidor</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
