<ng-container *ngIf="imageBanner">
  <app-banner
    class="banner"
    mediaUrl="{{ imageBanner }}"
    altText="Sample Image"
    autoplay
    muted
    loop
  ></app-banner>
</ng-container>
<ng-container >
  <app-banner-comertial></app-banner-comertial>
</ng-container>
<ng-container *ngIf="tournaments">
  <app-tournaments-info 
    title="Torneos en curso"
    [tournaments]="tournaments"
  ></app-tournaments-info>
</ng-container>
<app-carrousel
  title="Próximos eventos"
  [items]="carouselItems"
  [interval]="5000"
></app-carrousel>
