.input-container {
  display: flex;
  align-items: center;
}

.input-container mat-form-field {
  margin-right: 10px;
}
.space {
  flex: 1;
}
::ng-deep  .mat-column-name {
  max-width: 200px;
  overflow: hidden;
}
